<section class="full-screen">
    <div class="row h-100">
        <div class="col-sm-12 my-auto text-center">
          <div >
            <h1 class="title">
                Hi, I'm Gil Avraham!
            </h1>
            <h5 class="subtitle">
                I am an experienced developer working with various backend, frontend and cloud technologies.<br>
                I am a team player, creative and know how to execute complex tasks.<br>
                I'm looking for a developer position, where I can contribute and grow professionally and personally.
            </h5>
          </div>
        </div>
     </div>
</section>
