<div class="container, titel">
    <p class="title">
        Expirience
    </p>
</div>
<div class="container text-left">
    <div class="row">
      <div class="col-2">
        <p>2021 - 2022</p>
      </div>
      <div class="col-2">
        <p>Software Engineer<br>At Cyberpion</p>
      </div>
      <div class="col">
        <ul>
            <li>A member in a backend team which is mainly responsible for enhancing the product's capabilities by adding new
                engines and detection functionalities.
            </li>
            <li>
                Worked on a Python scanner that detects which technologies are used by websites, using Selenium and deployed
                on Azure functions.
            </li>
            <li>
                Created an automated testing environment to simulate diverse web configurations and edge cases, encompassing
                reverse proxies, DNS wildcards, CDN configurations, and TLS protocol restrictions.
            </li>
            <li>
                Expanded the scanner's technology detection capabilities, enhancing the company's findings report.
            </li>
        </ul>
      </div>
    </div>
    
    <div class="row middle-row">
        <div class="col-2">
          <p>2018 - 2021</p>
        </div>
        <div class="col-2">
          <p>Systems Infrastructures<br>At Prime Minister's Office</p>
        </div>
        <div class="col">
          <ul>
              <li>
                A member in a backend team. I was responsible for monitoring and managing large environments, including
                virtualized (ESXi, Vcenter).
              </li>
              <li>
                Experienced with Linux and Windows operating system configuration, leveraging batch and bash scripting.
              </li>
          </ul>
        </div>
      </div>
    
      <div class="row">
        <div class="col-2">
          <p>2016 – 2018</p>
        </div>
        <div class="col-2">
          <p>Frontend Develope<br>At Prime Minister's Office</p>
        </div>
        <div class="col">
          <ul>
              <li>
                As a valued member of the Creative team, I played a pivotal role in delivering timely completion of numerous
                websites from the working queue. My efforts were so impactful that there was a moment when the queue reached a
                state of zero pending orders.
              </li>
              <li>
                Developed websites using HTML5, CSS3, Bootstrap, and JavaScript, ensuring a modern and user-friendly
                experience.
              </li>
              <li>
                Deployed and configured WordPress based sites to facilitate efficient content management.              </li>
              <li>
                Collaborated with classified clients to define web application specifications aligned with their goals.              </li>
          </ul>
        </div>
      </div>
      
  </div>


  <div class="container, titel">
    <p class="title">
      Projects
    </p>
</div>
<div class="container text-left">
    <div class="row">
      <div class="col-2">
        <p>Deep URL Analysis website</p>
      </div>
      <div class="col-1">
        <i class="bi bi-file-excel"></i>
      </div>
      <div class="col">
        <ul>
            <li>Designed and executed a cutting-edge tool using Python, for deep URL analysis, leveraging Selenium for data
              extraction and connection analysis.
            </li>
            <li>
              Integrating additional data sources provided by Cyberpion.
            </li>
            <li>
              Created a website using Angular to showcase the tool's functionality and provide a user-friendly interface for
              seamless interaction.
            </li>
        </ul>
      </div>
    </div>
    
    <div class="row middle-row">
        <div class="col-2">
          <p>Disease Spread Mode</p>
        </div>
        <div class="col-1 ">
          <a class="icon" href="https://github.com/GilAvraham2909/DiseaseSpreadModel" target="_blank"><i class="bi bi-box-arrow-up-right"></i></a>
        </div>
        <div class="col">
          <ul>
              <li>
                a project in genetic algorithms using python with GUI using pygame.
              </li>
          </ul>
        </div>
      </div>
    
      <div class="row">
        <div class="col-2">
          <p>Classify A Speech Command</p>
        </div>
        <div class="col-1">
          <a class="icon" href="https://github.com/GilAvraham2909/ClassifyASpeechCommand" target="_blank"><i class="bi bi-box-arrow-up-right"></i></a>
        </div>
        <div class="col">
          <ul>
              <li>
                a machine learning project to train a multi-class classifier to classify a speech command
                using Python.
              </li>
            </ul>
        </div>
      </div>

      <div class="row middle-row">
        <div class="col-2">
          <p>Guards Scheduling Optimization</p>
        </div>
        <div class="col-1">
          <a class="icon" href="https://github.com/GilAvraham2909/GuardsSchedulingOptimization" target="_blank"><i class="bi bi-box-arrow-up-right"></i></a>
        </div>
        <div class="col">
          <ul>
              <li>
                Optimization project to give optimal shift schedule for guards using Python.
              </li>
          </ul>
        </div>
      </div>

      <div class="row">
        <div class="col-2">
          <p>Trivia Game</p>
        </div>
        <div class="col-1">
          <a class="icon" href="https://github.com/GilAvraham2909/Trivia" target="_blank"><i class="bi bi-box-arrow-up-right"></i></a>
        </div>
        <div class="col">
          <ul>
              <li>
                OOP project for a trivia game in cmd using Java with getting data via API.
              </li>
            </ul>
        </div>
      </div>
      
  </div>