.page {
    padding-bottom: 2%;
}

.title {
    font-size: 300%;
    padding: 2%;
    text-align: center;
    font-family: initial;

}

.middle-row {
    border-top:solid ;
    border-bottom: solid;
    border-width: thin;
    border-color: rgba(255, 255, 255, 0.534);
}

.row {
    padding: 1%;
}

.icon {
    color: white;
}