.form-container {
    padding: 2%;
    border-radius: 0.2cm;
    border: solid;
    border-width: thin;
    border-color: rgba(255, 255, 255, 0.534);
}

.title {
    font-size: 300%;
    padding: 2%;
    text-align: center;
    font-family: initial;

}

.sub-title {
    text-align: center;
}

.icon {
    color: white;
    font-size: 150%;
}

.first-row {
    padding-top: 2%;
}

.form-btn {
    padding: 2%;
}